# ASSIGNMENT 3

# HARJEET SINGH
# 18125760026

In [21]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn import metrics
import researchpy as rp
from scipy.spatial.distance import cdist
import matplotlib.pyplot as plt

In [11]:
card = pd.read_csv('D:/MANIPAL/TERM 3/BANKING ANALYTICS/ASSIGNMENT/3/Profit_percentage_portfolio_cards.csv')
card=card.drop(['American Express Gold credit card',
       'Indian Overseas Bank Visa International Credit card',
       'Axis Platinum card', "Bank of India's India Card",
       'Gold International Card', 'Citibank Dinners Club International card',
       'Union Bank of India Silver Card',
       'Syndicate Global Classic Credit Card', 'Union Bank of India Gold Card',
       'ICICI Bank Online card', 'Syndicate Global Gold Credit Card',
       'CorpBank Gold card', 'HSBC Platinum card', 'CorpBank Classic card','HDFC Silver credit card',
       'HDFC Cooperate credit card'],axis=1)
card.head()

,Year,Month,Vijaya Bank Visa Gold Credit Card,Vijaya Bank MasterCard Global Card,Vijaya Bank VISA Classic International Card,Vijaya Bank MasterCard Classic Credit Card
0,2016,Nov,1.64,2.87,1.77,1.90
1,2016,Oct,1.64,2.80,1.81,1.95
2,2016,Sep,1.62,2.79,1.81,1.95
3,2016,Aug,1.64,2.71,1.86,2.00
4,2016,Jul,1.66,2.74,1.91,1.94

###### The RBI has created a table to understand the return on portfolio for different credit cards across different banks. This data is tabulated on a monthly basis from Jan 2013 to Nov 2016. The RBI is keen to understand if the different card portfolio of Vijaya Bank is showing similar performance.

In [20]:
new_df=card.drop(['Year ','Month'],axis=1)
new_df.head()

,Vijaya Bank Visa Gold Credit Card,Vijaya Bank MasterCard Global Card,Vijaya Bank VISA Classic International Card,Vijaya Bank MasterCard Classic Credit Card
0,1.64,2.87,1.77,1.90
1,1.64,2.80,1.81,1.95
2,1.62,2.79,1.81,1.95
3,1.64,2.71,1.86,2.00
4,1.66,2.74,1.91,1.94

In [23]:
rp.summary_cont(new_df)

,Variable,N,Mean,SD,SE,95% Conf.,Interval
0,Vijaya Bank Visa Gold Credit Card,88.0,2.081477,0.226023,0.024094,2.033588,2.129367
1,Vijaya Bank MasterCard Global Card,88.0,3.148636,0.274830,0.029297,3.090405,3.206867
2,Vijaya Bank VISA Classic International Card,88.0,2.967500,0.724877,0.077272,2.813913,3.121087
3,Vijaya Bank MasterCard Classic Credit Card,88.0,3.987841,1.142647,0.121807,3.745737,4.229945

In [24]:
from scipy import stats

In [27]:
visa_gold_cc = new_df['Vijaya Bank Visa Gold Credit Card']
master_global_card = new_df['Vijaya Bank MasterCard Global Card']
stats.ttest_ind(a=visa_gold_cc, b= master_global_card, equal_var=False)

Ttest_indResult(statistic=-28.13346388392779, pvalue=2.065430461047349e-65)

In [29]:
visa_classic_international = new_df['Vijaya Bank VISA Classic International Card']
master_classic_cc = new_df['Vijaya Bank MasterCard Classic Credit Card']
stats.ttest_ind(a=visa_classic_international, b= master_classic_cc, equal_var=False)

Ttest_indResult(statistic=-7.073460180489384, pvalue=5.672004619227061e-11)

In [33]:
var1=np.var(visa_gold_cc)
var2 = np.var(master_global_card)
var3 =np.var(visa_classic_international)
var4 = np.var(master_classic_cc)
print('Variance For Vijaya Bank Visa Gold Credit Card: \n %s \n'%var1), print('Variance For Vijaya Bank MasterCard Global Card: \n %s \n'%var2), print('Variance For Vijaya Bank VISA Classic International Card: \n %s \n'%var3), print('Variance For Vijaya Bank MasterCard Classic Credit Card: \n %s \n'%var4)

Variance For Vijaya Bank Visa Gold Credit Card:
 0.050505772210743816

Variance For Vijaya Bank MasterCard Global Card:
 0.07467314049586778

Variance For Vijaya Bank VISA Classic International Card:
 0.5194755681818186

Variance For Vijaya Bank MasterCard Classic Credit Card:
 1.2908055655991737

(None, None, None, None)

In [36]:
credit_card= np.var(master_global_card)/ np.var(visa_gold_cc)
credit_card

1.4785070542884

In [37]:
import scipy.stats as stats

stats.f_oneway(visa_gold_cc,master_global_card, visa_classic_international, master_classic_cc)

F_onewayResult(statistic=109.92294214117443, pvalue=4.416958142674118e-50)

# FROM ALL THE ABOVE WORD I CAN THAT THERE IS A SIGNIFICANT DIFFERENCE BETWEEN THE MEAN OF ALL VIJAYABANK CARDS.